.ContentCont {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    align-items: center;
    width: 1000px;
    background-color: rgba(191, 191, 194, 0.7);    
}


.Field {
    display: block;
    width: 230px;
    height: 20px;
    border: grey solid 1px;
    border: 1px solid #EEEEEE;
    padding: 10px;
    border-radius: 25px;
    margin: 5px auto;
    box-shadow: 5px 5px 15px #bfa8bc;
    font-size: 20px;
}

.Field:focus {
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px rgb(50, 100, 153);
}

.AutocompleteList {
    display: block;
    width: 230px;
    height: 20px;
    align-items: center;
    border: grey solid 1px;
    border: 1px solid #EEEEEE;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #fff;
    z-index: 2;
}

.AutocompleteList:hover {
    background-color: #e9e9e9;
}

.Radio {
    margin-bottom: 10px;
    margin-top: 20px;

}

.Button {
    background: #5E5DF0;
    border-radius: 100px;
    box-shadow: rgba(89, 46, 206, 0.2) 0 -25px 18px -14px inset, rgba(94, 44, 187, 0.15) 0 1px 2px, rgba(145, 47, 202, 0.15) 0 2px 4px, rgba(165, 44, 187, 0.15) 0 4px 8px, rgba(146, 44, 187, 0.15) 0 8px 16px, rgba(166, 50, 195, 0.15) 0 16px 32px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Fredoka', sans-serif;
    padding: 11px 5px;
    text-align: center;
    text-transform: uppercase;
    transition: all 250ms;
    border: 0;
    font-size: 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Button:hover {
    box-shadow: rgba(213, 76, 226, 0.35) 0 -25px 18px -14px inset, rgba(207, 39, 212, 0.25) 0 1px 2px, rgba(187, 51, 211, 0.25) 0 2px 4px, rgba(216, 79, 186, 0.25) 0 4px 8px, rgba(165, 53, 209, 0.25) 0 8px 16px, rgba(210, 66, 223, 0.25) 0 16px 32px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    text-align: center;
}