@import url('https://fonts.googleapis.com/css2?family=Fredoka');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

.App {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Fredoka', sans-serif;
  background-image: url('2794169.jpg');
  backdrop-filter: blur(4px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


main {
  flex-grow: 1;
  padding: 25px;  
}

footer {
  padding: 2px;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #2F294D;
  font-size: 12px;
  text-align: center;
  color: white;
}

header {
  padding: 25px;
}

