.Wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  align-items: center;
  justify-content: center;
}

.NotFound {
  color: rgb(255, 0, 0);
  font-size: 20px;
  font-weight: 700;
}

.LoadingSpinner {
  width: 80px;
  height: 80px;
  border: 5px solid rgb(245,158,141);
  border-top: 3px solid rgb(51,45,83);
  border-radius: 100%;
  animation: spin 1.5s linear infinite
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.SpinnerContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.CardCont {
  position: relative;
  width: 300px;
  height: 500px;
  margin: 0;
/*   box-shadow: rgba(9, 30, 66, 0.50) 0px 4px 8px -2px, rgba(9, 30, 66, 0.16) 0px 0px 0px 1px; */
  background-size: cover;
}

.DataCont {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 200px;
  padding: 0;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.DataCont img {
  width: 80px;
  margin: 0;
}

.Temp {
  margin: 0;
  font-size: 70px;
  font-weight: 400;
}

.Desc {
  margin: 0;
  font-size: 25px; 
}

.City {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
}

.DataCont div {
  display: flex;
  min-width: 240px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-bottom: 2px solid hsl(0, 0%, 60%);
  font-size: 14px;
  font-weight: 400;
}

.Background {
  position: absolute;
  width: 300px;
  height: 500px;
  border-radius: 15px;
}

 .Favorite {
  position: absolute;
  left: 50%;
  top: 500px;
  transform: translateX(-50%);
  margin-top: 10px;
  width: 180px;
  height: 30px;
  border: 0px;
  border-radius: 10px;
  box-shadow: rgb(89 46 206 / 20%) 0 -25px 18px -14px inset, rgb(94 44 187 / 15%) 0 1px 2px, rgb(145 47 202 / 15%) 0 2px 4px, rgb(165 44 187 / 15%) 0 4px 8px, rgb(146 44 187 / 15%) 0 8px 16px, rgb(166 50 195 / 15%) 0 16px 32px;
  text-transform: uppercase;
  font-family: 'Fredoka', sans-serif;
  font-size: 14px;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  z-index: 100;
}

/* .Favorite {
  z-index: 99;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size:18px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
} */

/* .Favorite{
  position: relative;
  display: inline-block;
  font-size:18px;
  color: white;
  padding: 18px 30px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;
  z-index: 100;
}
.Favorite:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #5E5DF0;
  z-index: -1;
  transition: all ease 0.5s;
}
.Favorite:hover:before{
  width: 100%;  
  } */